/*sector de root donde agregamos las variables css */
@import url('https://fonts.googleapis.com/css?family=Gruppo|Macondo+Swash+Caps|Federant');
:root {
  --color-prin: #437272;
  --text-color: white; }

/*defincion de mixins */
/*estilos del calendario */
#calendario-eriking {
  background: white;
  border-radius: 0.5rem;
  position: relative;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  /*Estilos Animaciones................. */ }
  #calendario-eriking > input {
    margin: 0.2rem;
    width: 1.5rem;
    border: none;
    outline: none;
    padding: 0.2rem;
    font-size: 0.8rem;
    font-family: sans-serif; }
    #calendario-eriking > input:nth-child(1), #calendario-eriking > input:nth-child(2) {
      border-radius: 0 0 2rem 0;
      border-right: 2px black solid;
      margin-right: 0; }
    #calendario-eriking > input:nth-child(3), #calendario-eriking > input:nth-child(2) {
      margin-left: 0; }
    #calendario-eriking > input:nth-child(3), #calendario-eriking > input:nth-child(4) {
      width: 2rem; }
    #calendario-eriking > input[type="submit"] {
      border: none;
      height: 2rem;
      border-radius: 50%;
      cursor: pointer; }
  #calendario-eriking #cont_cal {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: rgba(150, 15, 78, 0.2);
    position: absolute;
    z-index: 5;
    overflow: hidden;
    display: none; }
    #calendario-eriking #cont_cal #view_cal {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-user-select: none;
      border: 2px var(--color-prin) solid;
      font-size: 1rem;}
      #calendario-eriking #cont_cal #view_cal #titulo_mes {
        background: var(--color-prin);
        color: var(--text-color);
        padding: 0.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /*space betwen sirve para alinear todos los elementos hijos en el contenedor */
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #calendario-eriking #cont_cal #view_cal #titulo_mes button {
          border: none;
          outline: none;
          cursor: pointer;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background: white; }
      #calendario-eriking #cont_cal #view_cal #cont_dias {
        background: white;
        display: grid;
        /*grid template crea un maquetado el cual se le proporciona la medida de todos los elementos si son muchos elementos usar repeat() */
        grid-template-columns: repeat(7, 2rem);
        grid-template-rows: repeat(7, 1.5rem);
        /*distancia entre columnas */
        grid-column-gap: 0.1rem;
        /*distancia entre filas */
        grid-row-gap: 0.1rem;
        /*columns numero de columnas */ }
        #calendario-eriking #cont_cal #view_cal #cont_dias .dia_cal {
          background: var(--color-prin);
          color: var(--text-color); }
        #calendario-eriking #cont_cal #view_cal #cont_dias .vacio {
          background: var(--color-prin);
          opacity: 0.4; }
        #calendario-eriking #cont_cal #view_cal #cont_dias .dia {
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          #calendario-eriking #cont_cal #view_cal #cont_dias .dia:hover {
            outline: 2px var(--color-prin) solid;
            -webkit-filter: grayscale(50%);
                    filter: grayscale(50%); }
  #calendario-eriking .bajar_cal {
    -webkit-animation-name: bajar;
            animation-name: bajar;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-direction: linear;
            animation-direction: linear; }
@-webkit-keyframes bajar {
  to {
    top: 0; }
  from {
    top: -100%; } }
@keyframes bajar {
  to {
    top: 0; }
  from {
    top: -100%; } }
  #calendario-eriking .animacion-der {
    -webkit-animation: der 0.2s linear;
            animation: der 0.2s linear; }
  #calendario-eriking .regresa-der {
    -webkit-animation: der-r 0.2s linear;
            animation: der-r 0.2s linear; }
@-webkit-keyframes der {
  from {
    right: 0%; }
  to {
    right: -100%; } }
@keyframes der {
  from {
    right: 0%; }
  to {
    right: -100%; } }
@-webkit-keyframes der-r {
  from {
    right: -100%; }
  to {
    right: 0%; } }
@keyframes der-r {
  from {
    right: -100%; }
  to {
    right: 0%; } }
  #calendario-eriking .animacion-izq {
    -webkit-animation: izq 0.2s linear;
            animation: izq 0.2s linear; }
  #calendario-eriking .regresa-izq {
    -webkit-animation: izq-r 0.2s linear;
            animation: izq-r 0.2s linear; }
@-webkit-keyframes izq-r {
  from {
    left: -100%; }
  to {
    left: 0%; } }
@keyframes izq-r {
  from {
    left: -100%; }
  to {
    left: 0%; } }
@-webkit-keyframes izq {
  from {
    left: 0%; }
  to {
    left: -100%; } }
@keyframes izq {
  from {
    left: 0%; }
  to {
    left: -100%; } }
#eriking-cal {
  display: none; }

  /*comm*/
